<%= form_for(@basket_item) do |f| %>
  <% if @basket_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@basket_item.errors.count, "error") %> prohibited this basket_item from being saved:</h2>

      <ul>
      <% @basket_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %><br />
    <%= f.number_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :checkout_id %><br />
    <%= f.number_field :checkout_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
