<h1>Listing basket_items</h1>

<table>
  <tr>
    <th>Product</th>
    <th>Checkout</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @basket_items.each do |basket_item| %>
  <tr>
    <td><%= basket_item.product_id %></td>
    <td><%= basket_item.checkout_id %></td>
    <td><%= link_to 'Show', basket_item %></td>
    <td><%= link_to 'Edit', edit_basket_item_path(basket_item) %></td>
    <td><%= link_to 'Destroy', basket_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Basket item', new_basket_item_path %>
